/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:wght@300;400;500;700&display=swap');

/* Custom properties */
:root {
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0, 0, 0, 0.6);
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: var(--primary-background-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(115deg,
      #4fcf70,
      #fad648,
      #a767e5,
      #12bcfe,
      #44ce7b);
  --transparent-light-color: rgba(0, 0, 0, 0.1);
  --transparent-dark-color: rgba(255,255,255, 0.75);
  /*--transparent-dark-color: var(--secondary-background-color);*/
  --font-family: 'Roboto', sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

i {
  font-size: var(--font-size-md);
}

/* Theme color change */
body.dark-theme {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #000;
  /* --primary-background-color: #131417; */
  --secondary-background-color: #252830;
  --hover-light-color: #fff;
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --transparent-light-color: rgba(255, 255, 255, 0.05);
}

/* Reusable classes */
.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section {
  margin-top: 5rem;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

/* .section:not(.pro-products) {
  padding-block: 5rem;
} */

.d-grid {
  display: grid;
}

.screen-sm-hidden {
  display: none;
}

.section-m {
  margin: 4rem 0;
}

.section-xp {
  padding: 4rem 8rem;
}

button.normal {
  font-size: var(--font-size-xsm);
  font-weight: 600;
  padding: 1rem 2rem;
  color: #000;
  background-color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: var(--font-size-xsm);
  font-weight: 600;
  padding: 1rem 2rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

.section-title {
  position: relative;
  text-align: center;
}

.section-title::after {
  content: attr(data-name);
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  opacity: 0.15;
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
}

/* Header */
.header {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo {
  font-size: var(--font-size-md);
  color: var(--light-color);
}

.menu,
.sub-menu {
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 8rem;
  right: -50rem;
  height: 100vh;
  width: 30rem;
  padding: 3rem 3rem 0 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-background-color);
  /*opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease-in;*/
  transition: 0.3s;
}

.sub-menu h3 {
  margin: 2rem 0;
}

.sub-menu .list button {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.sub-menu hr {
  background-color: var(--light-color);
  margin: 2rem 0;
  border: 0;
  height: 0.15rem;
}

.list {
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
}

.list hr {
  width: 100%;
  background-color: var(--light-color);
  border: 0;
  height: 0.15rem;
  margin-top: 5rem;
}

.menu>.list,
.sub-menu>.list {
  flex-direction: column;
}

.list-link .current {
  color: var(--light-color);
}

.menu .list-item,
.sub-menu .list-item {
  width: 100%;
}

.menu .list-item .list-link,
.sub-menu .list-item .list-link {
  display: flex;
  align-items: center;
}

.menu .list-item .list-link span,
.sub-menu .list-item .list-link span {
  width: 100%;
}

.menu .list-item .fancy span {
  color: #ef3636;
}

.thick {
  font-weight: 900;
}

.close-menu-icon {
  display: none;
}

.btn {
  cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span {
  color: var(--light-color);
}

.sun-icon {
  display: none;
}

.dark-theme .sun-icon {
  display: block;
}

.dark-theme .moon-icon {
  display: none;
}

/* Header JavaScript Styles */
.header.activated {
  box-shadow: 0 1rem 0.5rem var(--transparent-light-color);
}

.menu.activated,
#sub-menu-1.activated,
#sub-menu-2.activated,
#sub-menu-3.activated,
#sub-menu-4.activated,
#sub-menu-5.activated,
#sub-menu-6.activated {
  box-shadow: 1px 1px 1rem var(--transparent-light-color);
  right: 0;
  /*opacity: 1;
  transform: scale(1);*/
}

.menu-toggle-icon.activated .open-menu-icon {
  display: none;
}

.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}

.menu-toggle-icon.deactivated {
  display: none;
}

/* Search */
.search-form-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: var(--primary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.form-container-inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form-input,
.form-btn {
  display: inline-block;
  outline: none;
  border: 2px solid var(--secondary-background-color);
  padding: 1.5rem;
  color: var(--light-color-alt);
}

.form-input {
  border-right: none;
  width: 100%;
  background-color: var(--primary-background-color);
}

.form-input::placeholder {
  color: var(--light-color-alt);
}

.form-btn {
  margin-left: -0.5rem;
  border-left: none;
  background-color: var(--secondary-background-color);
  text-transform: uppercase;
  width: 8rem;
}

.form-note {
  font-size: var(--font-size-xsm);
  align-self: flex-end;
}

.form-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 2px solid var(--secondary-background-color);
  width: 4rem;
  height: 4rem;
  display: flex;
}

/* Form JavaScript styles */
.search-form-container.activated {
  opacity: 1;
  transform: scale(1);
}

/* Section*/
/* Hero */
.hero {
  margin-top: 5.6rem;
  background-image: url("/assets/img/hero4.png");
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-position: top 30% right 40%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h1 {
  color: #088178;
  font-size: var(--font-size-xl);
}

.hero button {
  background-image: url("/assets/img/button.png");
  background-color: transparent;
  border: 0;
  padding: 1.4rem 8rem 1.4rem 6.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

.hero button:active {
  color: #088178;
}

/* Popular Tags */
.tags {
  position: relative;
  min-height: var(--item-min-height-md);
}

.tags-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s;
}

.popular-tags-container {
  gap: var(--gap);
  margin-top: 3.5rem;
}

.popular-tags-container .tags {
  min-height: var(--item-min-height-sm);
}

.tag-name {
  font-size: var(--font-size-sm);
  font-weight: 900;
  padding: 1rem 2.5rem;
  background-color: var(--transparent-dark-color);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.popular-tags-container .tags:hover .tag-name {
  color: var(--light-color);
}

.popular-tags-container .tags {
  overflow: hidden;
}

/* Large Banner */
.lg-banner {
  margin: 3.5rem 0;
}

.lg-banner-description h2 {
  margin: 1.5rem 0;
  font-size: var(--font-size-lg);
  font-weight: 900;
}

.lg-banner button {
  margin-top: 2rem;
  color: #088178;
  border: #088178 1px solid;
}

/* Products */
.pro-products {
  padding-block: 2rem;
  margin: 2rem;
}

.pro-products .products {
  width: 80%;
  min-width: 2rem;
  /*padding: 1rem 1rem;*/
  /*border: 0.1rem solid var(--light-color-alt);*/
  cursor: pointer;
  /*box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.02);*/
  margin: 1.5rem auto;
  transition: 0.2s ease;
  position: relative;
}

.pro-products .products:hover {
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.06);
}

.pro-products .products img {
  width: 100%;
}

.pro-products .products .description {
  text-align: start;
  padding: 1rem 0;
}

.pro-products .products .description span {
  font-size: var(--font-size-xsm);
}

.pro-products .products .description h5 {
  padding-top: 0.2rem;
  font-size: 1.4rem;
}

.pro-products .products .description h4 {
  padding-top: 0.2rem;
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: #088178;
}

.pro-products .products .heart-toggle-btn {
  font-weight: 500;
  color: #088178;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.pro-products .products .heart-toggle-btn .heart-fill-icon {
  display: none;
}

.pro-products .product-container {
  margin-top: 2rem;
}

.pro-products .product-container h2 {
  text-align: start;
}

.swiper-wrapper {
  width: auto;
  height: auto;
  margin-bottom: 2rem;
}

.swiper-pagination {
  bottom: 0.5rem !important;
}

.swiper-pagination-bullet {
  background-color: var(--light-color);
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/assets/img/banner/b2.jpg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.banner h4 {
  color: #afb6cd;
  font-size: var(--font-size-sm);
}

.banner h2 {
  color: #afb6cd;
  font-size: var(--font-size-md);
  padding: 1rem 1rem;
}

.banner h2 span {
  color: #ef3636;
}

.banner button:hover {
  background-color: #088178;
  color: #fff;
}

/* New Products 
.new-products .title {
  text-align: start;
  margin-left: 2rem;
}

.new-products .product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-products .products {
  width: 49%;
  min-width: 2.5rem;
  padding: 1rem 1rem;
} 

.new-products .products .description h5 {
  padding-top: 0.2rem;
  font-size: 1.3rem;
}

.new-products .products .description h4 {
  padding-top: 0.2rem;
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: #088178;
}

.new-products .products .trans-cart {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 5rem;
  font-weight: 500;
  color: #088178;
  position: absolute;
  bottom: 2rem;
  right: 0.5rem;
}
*/

/* Xm Banner */
.sm-banner .banner-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/assets/img/banner/b17.jpg");
  min-width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 1rem;
}

.sm-banner .banner-box-2 {
  background-image: url("/assets/img/banner/b10.jpg");
}

.sm-banner h4 {
  font-size: var(--font-size-sm);
  font-weight: 300;
}

.sm-banner h2 {
  font-size: var(--font-size-lg);
}

.sm-banner span {
  font-size: var(--font-size-sm);
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.sm-banner .banner-box:hover button {
  background-color: #088178;
  color: #fff;
}

/* Stories */
.article{
  width: 80%;
  min-width: 2rem;
  margin: 0 auto;
}

.article-container {
  margin-top: 3.5rem;
}

.article-container .article-description h2 {
  margin: 1.5rem 0;
}

/* Newsletter */
.newsletter .form-container-inner {
  padding-top: 5rem;
}

.newsletter-title {
  font-size: var(--font-size-lg);
}

.newsletter-description {
  margin-bottom: 3rem;
}

.newsletter-description span {
  color: #ef3636;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
  padding: 2rem 0;
}

.footer-container {
  gap: var(--gap);
}

.company-data {
  display: flex;
  flex-direction: column;
  order: 1;
}

.company-description {
  margin-block: var(--margin-sm);
  max-width: 75%;
}

.social-media {
  margin-bottom: var(--margin-md);
}

.copyright-notice {
  opacity: 0.8;
}

.footer-list {
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
}